<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuren.datacenter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:name=".util.GlobalContext"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <activity
            android:name=".GatewayActivity"
            android:label="@string/title_activity_device"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DeviceActivity"
            android:label="@string/title_activity_device"
            android:screenOrientation="portrait" >
        </activity>
        
        
        <receiver android:name=".devicehandler.ShiJieCameraReceiver" >
            <intent-filter>
                <action android:name="com.5ren.qianliyan.SHIJIE_CAPTURE_IMAGE" />
                <action android:name="com.5ren.qianliyan.SHIJIE_CAPTURE_ZIP" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                
            </intent-filter>
        </receiver>
        

        <service
            android:name=".service.DataTransactionService"
            android:label="@string/app_name" />
        
        
        <receiver
	    android:name=".PushYingyanReceiver"
	    android:exported="false" >
	    <intent-filter>
	     <!-- action android:name="com.igexin.sdk.action.APPID" -->
	      <action android:name="com.igexin.sdk.action.JAlsuoOtgg7yGyghqlYuE8" />
	     </intent-filter>
	</receiver>

        
        
        <!-- 个推SDK配置开始 -->
<!-- 配置的第三方参数属性 -->
<meta-data android:name="PUSH_APPID" android:value="JAlsuoOtgg7yGyghqlYuE8" />
<meta-data android:name="PUSH_APPSECRET" android:value="4Cj77eddon5UxtUmokN589" />
<meta-data android:name="PUSH_APPKEY" android:value="XjZhYo0inu7ckQONCQ2OR3" />
<meta-data android:name="PUSH_GROUPID" android:value="" />

<!--配置SDK核心服务-->
<service android:name="com.igexin.sdk.PushService"
	android:exported="true"
	android:label="NotificationCenter"
	android:process=":pushservice" >
</service>

<receiver android:name="com.igexin.sdk.PushReceiver">
	<intent-filter>
		<action android:name="android.intent.action.BOOT_COMPLETED" />
		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		<action android:name="android.intent.action.USER_PRESENT" />
		<action android:name="com.igexin.sdk.action.refreshls" />
	</intent-filter>
</receiver>
<receiver android:name="com.igexin.sdk.PushManagerReceiver"
	android:exported="false" >
	<intent-filter>
    		<action android:name="com.igexin.sdk.action.pushmanager" />
	</intent-filter>
</receiver>

<activity android:name="com.igexin.sdk.PushActivity"
	android:process=":pushservice"
	android:theme="@android:style/Theme.Translucent.NoTitleBar"
	android:taskAffinity="com.igexin.sdk.PushActivityTask"
	android:excludeFromRecents="true"
	android:exported="false">
</activity>

<!-- 配置弹框activity -->
<!--  <activity android:name="com.igexin.getuiext.activity.GetuiExtActivity"  
	android:process=":pushservice"
	android:configChanges="orientation|keyboard|keyboardHidden"
	android:excludeFromRecents="true"
	android:taskAffinity="android.task.myServicetask"
	android:theme="@android:style/Theme.Translucent.NoTitleBar"
	android:exported="false" />-->
	
<receiver android:name="com.igexin.getuiext.service.PayloadReceiver"
	android:exported="false" >
	<intent-filter>
		<!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改  -->
		<action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
		<!-- android:name="com.igexin.sdk.action.第三方的appId" -->			
		<action android:name="com.igexin.sdk.action.JAlsuoOtgg7yGyghqlYuE8" />
	</intent-filter>
</receiver>
<service android:name="com.igexin.getuiext.service.GetuiExtService" 
	android:process=":pushservice" />

<!-- 个推download模块配置-->
<service android:name="com.igexin.download.DownloadService"
	android:process=":pushservice" />
<receiver
	android:exported="false" android:name="com.igexin.download.DownloadReceiver"> 
	<intent-filter>
		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
	</intent-filter>
</receiver>
<provider android:name="com.igexin.download.DownloadProvider" 
	android:process=":pushservice" 
	android:authorities="downloads.com.fiveman.yingyan"/>
	<!-- android:authorities="downloads.第三方包名" -->

        
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 	<uses-permission android:name="getui.permission.GetuiService"/>
	
	<permission  android:name="getui.permission.GetuiService"
 				 android:protectionLevel="normal">
	</permission>
    
</manifest>